In [1]:
import numpy as np
import pandas as pd
from datetime import date
import os

In [2]:
filename = os.path.join('test.xls')
file = pd.read_excel(filename)

In [3]:
data = pd.DataFrame(file)
result={}
data

,Invoice Numbers,Document Number,Type,Net due dt,Doc. Date,Pstng Date,Amt in loc.cur.,Vendor Code,Vendor name,Vendor type
0,1,11,RE,2025-02-23,2017-11-23,2017-08-25,-100,R05001,Robert Chemicals,general
1,2,22,RE,2025-02-24,2017-11-30,2017-08-25,-200,R05001,Robert Chemicals,general
2,3,33,RE,2025-02-25,2017-11-23,2017-08-25,-300,R05001,Robert Chemicals,general
3,4,44,RE,2025-02-26,2017-11-23,2017-08-25,-400,R05001,Robert Chemicals,general
4,5,55,RT,2025-02-27,2017-11-23,2017-08-25,10,R05001,Robert Chemicals,general
5,6,66,KG,2025-02-28,2017-11-23,2017-08-25,30,R05001,Robert Chemicals,general
6,1,77,KD,2025-03-01,2017-11-23,2017-08-25,10,R05001,Robert Chemicals,general
7,100,88,KD,2025-03-02,2017-11-23,2017-08-25,20,R05001,Robert Chemicals,general
8,7,99,KD,2025-03-03,2017-11-23,2017-08-25,30,R05001,Robert Chemicals,general
9,1,110,KD,2025-03-04,2017-11-23,2017-08-25,40,R05001,Robert Chemicals,general
10,2,121,KD,2025-03-05,2017-11-23,2017-08-25,50,R05001,Robert Chemicals,general
11,101,132,RT,2025-03-06,2017-11-23,2017-08-25,200,R05001,Robert Chemicals,general
12,102,133,ZA,2025-03-07,2017-11-23,2017-08-25,-2000,R05001,Robert Chemicals,general
13,103,134,ZA,2025-03-08,2017-11-23,2017-08-25,30,C65676,Chatisgarh Chemicals,general

In [4]:
rowsdata={}
for i in data:
    if i not in rowsdata:
        rowsdata[i]=True
rownames=["Invoice Numbers","Net due dt","Doc. Date","Pstng Date","Amt in loc.cur.","Vendor Code","Vendor name"]
flag = True
for i in rownames:
    if i not in rowsdata:
        flag=False
flag

True

In [5]:
#1 Number of invoices uploaded
result['Number_of_invoices']=int(data.count()[0])
result

{'Number_of_invoices': 14}

In [6]:
newData = data.dropna(axis=0)
newData = newData[pd.to_datetime(data['Doc. Date'], errors='coerce') <= pd.to_datetime('today')]
newData = newData[pd.to_datetime(data['Pstng Date'], errors='coerce') <= pd.to_datetime('today')]
newData = newData[pd.to_datetime(data['Net due dt'], errors='coerce') >= pd.to_datetime(data['Pstng Date'])]
vendordata = {k:v for k,v in zip(newData['Vendor Code'],newData['Vendor name'])}
for i in newData.index:
    if newData['Vendor Code'][i] in vendordata:
        if newData['Vendor name'][i] != vendordata[newData['Vendor Code'][i]]:
            newData.drop([i])
newData

,Invoice Numbers,Document Number,Type,Net due dt,Doc. Date,Pstng Date,Amt in loc.cur.,Vendor Code,Vendor name,Vendor type
0,1,11,RE,2025-02-23,2017-11-23,2017-08-25,-100,R05001,Robert Chemicals,general
1,2,22,RE,2025-02-24,2017-11-30,2017-08-25,-200,R05001,Robert Chemicals,general
2,3,33,RE,2025-02-25,2017-11-23,2017-08-25,-300,R05001,Robert Chemicals,general
3,4,44,RE,2025-02-26,2017-11-23,2017-08-25,-400,R05001,Robert Chemicals,general
4,5,55,RT,2025-02-27,2017-11-23,2017-08-25,10,R05001,Robert Chemicals,general
5,6,66,KG,2025-02-28,2017-11-23,2017-08-25,30,R05001,Robert Chemicals,general
6,1,77,KD,2025-03-01,2017-11-23,2017-08-25,10,R05001,Robert Chemicals,general
7,100,88,KD,2025-03-02,2017-11-23,2017-08-25,20,R05001,Robert Chemicals,general
8,7,99,KD,2025-03-03,2017-11-23,2017-08-25,30,R05001,Robert Chemicals,general
9,1,110,KD,2025-03-04,2017-11-23,2017-08-25,40,R05001,Robert Chemicals,general
10,2,121,KD,2025-03-05,2017-11-23,2017-08-25,50,R05001,Robert Chemicals,general
11,101,132,RT,2025-03-06,2017-11-23,2017-08-25,200,R05001,Robert Chemicals,general
12,102,133,ZA,2025-03-07,2017-11-23,2017-08-25,-2000,R05001,Robert Chemicals,general
13,103,134,ZA,2025-03-08,2017-11-23,2017-08-25,30,C65676,Chatisgarh Chemicals,general

In [7]:
vendordata1 = {k:v for k,v in zip(newData['Vendor Code'],newData['Vendor name'])}
vendordata2 = {k:v for k,v in zip(newData['Vendor name'],newData['Vendor Code'])}

for i in newData.index:
    if newData['Vendor name'][i] != vendordata1[newData['Vendor Code'][i]]:
            newData.drop([i])

for i in newData.index:
    if newData['Vendor Code'][i] != vendordata2[newData['Vendor name'][i]]:
            newData.drop([i])
newData

,Invoice Numbers,Document Number,Type,Net due dt,Doc. Date,Pstng Date,Amt in loc.cur.,Vendor Code,Vendor name,Vendor type
0,1,11,RE,2025-02-23,2017-11-23,2017-08-25,-100,R05001,Robert Chemicals,general
1,2,22,RE,2025-02-24,2017-11-30,2017-08-25,-200,R05001,Robert Chemicals,general
2,3,33,RE,2025-02-25,2017-11-23,2017-08-25,-300,R05001,Robert Chemicals,general
3,4,44,RE,2025-02-26,2017-11-23,2017-08-25,-400,R05001,Robert Chemicals,general
4,5,55,RT,2025-02-27,2017-11-23,2017-08-25,10,R05001,Robert Chemicals,general
5,6,66,KG,2025-02-28,2017-11-23,2017-08-25,30,R05001,Robert Chemicals,general
6,1,77,KD,2025-03-01,2017-11-23,2017-08-25,10,R05001,Robert Chemicals,general
7,100,88,KD,2025-03-02,2017-11-23,2017-08-25,20,R05001,Robert Chemicals,general
8,7,99,KD,2025-03-03,2017-11-23,2017-08-25,30,R05001,Robert Chemicals,general
9,1,110,KD,2025-03-04,2017-11-23,2017-08-25,40,R05001,Robert Chemicals,general
10,2,121,KD,2025-03-05,2017-11-23,2017-08-25,50,R05001,Robert Chemicals,general
11,101,132,RT,2025-03-06,2017-11-23,2017-08-25,200,R05001,Robert Chemicals,general
12,102,133,ZA,2025-03-07,2017-11-23,2017-08-25,-2000,R05001,Robert Chemicals,general
13,103,134,ZA,2025-03-08,2017-11-23,2017-08-25,30,C65676,Chatisgarh Chemicals,general

In [8]:
#2 Total sum of invoice amount
result['Total_sum']=float(newData['Amt in loc.cur.'].sum())
result

{'Number_of_invoices': 14, 'Total_sum': -2580.0}

In [9]:
#3 Total number of vendors whose invoices were uploaded
df = newData.drop_duplicates(subset='Vendor name', keep="first")
result['No_Up']=int(df['Vendor name'].count())
result

{'Number_of_invoices': 14, 'Total_sum': -2580.0, 'No_Up': 2}

In [10]:
#4 Total number of invalid invoices
result['Invalid']=int(data.shape[0]-newData.shape[0])
result

{'Number_of_invoices': 14, 'Total_sum': -2580.0, 'No_Up': 2, 'Invalid': 0}

In [11]:
import json
json_object = json.dumps(result, indent = 4) 
  
# Writing to sample.json 
with open("data.json", "w") as outfile: 
    outfile.write(json_object)